body {
    font-family: Arial, sans-serif;
    background-color: #d8ead6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.division {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.imagen {
    width: 80%;
    height: auto;
    margin: 0 auto 15px auto; 
}

.colores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #f9f9f9;
}

.precio-y-cart {
    display: flex;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.add-to-cart {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 30%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
